/.metadata/
/.gitignore
/taotao-common/.settings/*.prefs
/taotao-common/.settings/*.component
/taotao-common/.settings/*.xml
/taotao-manager/.settings/*.prefs
/taotao-manager/taotao-manager-controler/.settings/*.jsdtscope
/taotao-manager/taotao-manager-controler/.settings/*.prefs
/taotao-manager/taotao-manager-controler/.settings/*.component
/taotao-manager/taotao-manager-controler/.settings/*.xml
/taotao-manager/taotao-manager-controler/.settings/*.container
/taotao-manager/taotao-manager-controler/.settings/*.name
/taotao-manager/taotao-manager-mapper/.settings/*.prefs
/taotao-manager/taotao-manager-mapper/.settings/*.component
/taotao-manager/taotao-manager-mapper/.settings/*.xml
/taotao-manager/taotao-manager-pojo/.settings/*.prefs
/taotao-manager/taotao-manager-pojo/.settings/*.component
/taotao-manager/taotao-manager-pojo/.settings/*.xml
/taotao-manager/taotao-manager-service/.settings/*.prefs
/taotao-manager/taotao-manager-service/.settings/*.component
/taotao-manager/taotao-manager-service/.settings/*.xml
/taotao-parent/.settings/*.prefs
